<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        h1 { 
            color: rgb(43, 150, 10);
        }
    </style>
</head>
<body>
    <h1>Reset Your Password</h1>
    <h2>Copy The Code Below To Change Your Password</h2>
    
    <h2><%- token %></h2p>
    
    
    
</body>
</html>